<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.to_dolist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList">
        <activity
            android:name=".Done"
            android:exported="false"
            android:label="Done"
            android:parentActivityName=".DoneActivity"/>
        <activity
            android:name=".Doing"
            android:exported="false"
            android:label="Doing"
            android:parentActivityName=".DoingActivity" />
        <activity
            android:name=".DoneActivity"
            android:exported="false"
            android:label="Done"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DoingActivity"
            android:exported="false"
            android:label="Doing"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TodoActivity"
            android:exported="false"
            android:label="To-Do"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Add Task"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>